@import "tailwindcss";

@theme {
  --color-background: oklch(100% 0 0);
  --color-foreground: oklch(9.8% 0.084 252.2);
  --color-card: oklch(100% 0 0);
  --color-card-foreground: oklch(9.8% 0.084 252.2);
  --color-popover: oklch(100% 0 0);
  --color-popover-foreground: oklch(9.8% 0.084 252.2);
  --color-primary: oklch(22.4% 0.074 252.2);
  --color-primary-foreground: oklch(98% 0.04 240);
  --color-secondary: oklch(96% 0.04 240);
  --color-secondary-foreground: oklch(9.8% 0.084 252.2);
  --color-muted: oklch(96% 0.04 240);
  --color-muted-foreground: oklch(61.8% 0.033 255.4);
  --color-accent: oklch(96% 0.04 240);
  --color-accent-foreground: oklch(9.8% 0.084 252.2);
  --color-destructive: oklch(72.4% 0.142 12);
  --color-destructive-foreground: oklch(98% 0.04 240);
  --color-border: oklch(94.8% 0.032 254.3);
  --color-input: oklch(94.8% 0.032 254.3);
  --color-ring: oklch(9.8% 0.084 252.2);
  --radius: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  @theme {
    --color-background: oklch(9.8% 0.084 252.2);
    --color-foreground: oklch(98% 0.04 240);
    --color-card: oklch(9.8% 0.084 252.2);
    --color-card-foreground: oklch(98% 0.04 240);
    --color-popover: oklch(9.8% 0.084 252.2);
    --color-popover-foreground: oklch(98% 0.04 240);
    --color-primary: oklch(98% 0.04 240);
    --color-primary-foreground: oklch(9.8% 0.084 252.2);
    --color-secondary: oklch(35% 0.066 247.2);
    --color-secondary-foreground: oklch(98% 0.04 240);
    --color-muted: oklch(35% 0.066 247.2);
    --color-muted-foreground: oklch(80.4% 0.042 245);
    --color-accent: oklch(35% 0.066 247.2);
    --color-accent-foreground: oklch(98% 0.04 240);
    --color-destructive: oklch(47.2% 0.128 12);
    --color-destructive-foreground: oklch(98% 0.04 240);
    --color-border: oklch(35% 0.066 247.2);
    --color-input: oklch(35% 0.066 247.2);
    --color-ring: oklch(91.4% 0.028 242.7);
  }
}

* {
  border-color: var(--color-border);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}